<div *ngFor="let volume of volumes" class="container maincontainer">
  <div class="row justify-content-center">
    <div class="col-md-8 mainpage">
      <p class="text-center"><a target="_blank" href="http://127.0.0.1:3000/flipbook/pdf_reader.html?file={{ volume.volume}}&pageNumber=0"><img class="img-fluid" style="height: 250px;" src="{{ 'assets/covers/outer/' + volume.volume + '.jpg' }}" /></a></p>
      <h1><a target="_blank" href="http://127.0.0.1:3000/flipbook/pdf_reader.html?file={{ volume.volume}}&pageNumber=0">{{ volume.volume | rlzero | toDevanagari }}. {{ volume.title }}</a></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mainpage mb-large">
      <div class="toc row">
        <div class="col-2">
        </div>
        <div class="col-10 fsan" [innerHTML]="volume.toc | linkPDF:volume.volume:basePdfUrl:urlParams.params.search"></div>
      </div>
    </div>
  </div>
</div>
