body, html {
  height: 100%;
  margin: 0;
  color: #777;
}
body{
  /*margin-top: 116px;*/
}
.highlight{
	background-color: yellow;
}
.clear-paddings{
	padding: 0;
}
.clear-margins{
	margin: 0;
}
.maincontainer{
	padding-top: 72px;
	padding-bottom: 100px;
}
.hide{
	display: none !important;
}
a.red{
  color: #D84315 !important;
}
.red{
  color: #D84315 !important;
}
.weight300{
  font-weight: 300;
}