<div class="container">
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-10 mainpage">

      <h1>अंक संग्रह : अनुवादक</h1>
      <div *ngFor="let translator of translators" class="full-width-card red-edge">
        <span class="article-count">{{ translator.count.toString() | toDevanagari }} लेख</span>
        <h3 class="translator"><a routerLink="/articles/translator" [queryParams]="{translatornames: translator.translator}">{{ translator.translator }}</a></h3>
      </div>
    </div>
    <div class="col-md"></div>
  </div>
</div>
