<div class="container">
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-10 mainpage">

      <h1>अंक संग्रह : लेखक</h1>
      <div class="alphabet" *ngIf="letter != 'Featured'">
        <span class="letter"><a routerLink="/authors/अ">अ</a></span> 
        <span class="letter"><a routerLink="/authors/आ">आ</a></span> 
        <span class="letter"><a routerLink="/authors/इ">इ</a></span> 
        <span class="letter"><a routerLink="/authors/उ">उ</a></span> 
        <span class="letter"><a routerLink="/authors/ऊ">ऊ</a></span> 
        <span class="letter"><a routerLink="/authors/ऋ">ऋ</a></span> 
        <span class="letter"><a routerLink="/authors/ए">ए</a></span> 
        <span class="letter"><a routerLink="/authors/ओ">ओ</a></span> 
        <span class="letter"><a routerLink="/authors/क">क</a></span> 
        <span class="letter"><a routerLink="/authors/ख">ख</a></span> 
        <span class="letter"><a routerLink="/authors/ग">ग</a></span> 
        <span class="letter"><a routerLink="/authors/घ">घ</a></span> 
        <span class="letter"><a routerLink="/authors/च">च</a></span> 
        <span class="letter"><a routerLink="/authors/छ">छ</a></span> 
        <span class="letter"><a routerLink="/authors/ज">ज</a></span> 
        <span class="letter"><a routerLink="/authors/झ">झ</a></span> 
        <span class="letter"><a routerLink="/authors/ड">ड</a></span> 
        <span class="letter"><a routerLink="/authors/त">त</a></span> 
        <span class="letter"><a routerLink="/authors/थ">थ</a></span> 
        <span class="letter"><a routerLink="/authors/द">द</a></span> 
        <span class="letter"><a routerLink="/authors/ध">ध</a></span> 
        <span class="letter"><a routerLink="/authors/न">न</a></span> 
        <span class="letter"><a routerLink="/authors/प">प</a></span> 
        <span class="letter"><a routerLink="/authors/फ">फ</a></span> 
        <span class="letter"><a routerLink="/authors/ब">ब</a></span> 
        <span class="letter"><a routerLink="/authors/भ">भ</a></span> 
        <span class="letter"><a routerLink="/authors/म">म</a></span> 
        <span class="letter"><a routerLink="/authors/य">य</a></span> 
        <span class="letter"><a routerLink="/authors/र">र</a></span> 
        <span class="letter"><a routerLink="/authors/ल">ल</a></span> 
        <span class="letter"><a routerLink="/authors/व">व</a></span> 
        <span class="letter"><a routerLink="/authors/श">श</a></span> 
        <span class="letter"><a routerLink="/authors/स">स</a></span> 
        <span class="letter"><a routerLink="/authors/ह">ह</a></span> 
      </div>

      <div *ngFor="let author of authors" class="full-width-card red-edge">
        <span class="article-count">{{ author.count.toString() | toDevanagari }} लेख</span>
        <h3 class="author"><a routerLink="/articles/author" [queryParams]="{authornames: author.author}">{{ author.author }}</a></h3>
      </div>
    </div>
    <div class="col-md"></div>
  </div>
</div>
