<nav class="navbar navbar-light navbar-expand-lg">
    <div class="container">
        <!-- <a class="navbar-brand"><img src="assets/img/logo.png" alt="Logo of Bharatiya Vidya Bhavan" class="img-circle"></a> -->
        <span class="navbar-text">श्रीशांकरग्रन्थावलिः</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav ml-auto">
                <li class="nav-item active"><a class="nav-link" routerLink="/page/home">मुख्यपृष्ठम्</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/page/about">प्रस्तावना</a></li>
                <li class="nav-item"><a class="nav-link volumes" routerLink="/volumes">संपुटाः</a></li>
                <li class="nav-item"><a class="nav-link search" routerLink="/search">अन्वेषणम्</a></li>
            </ul>
        </div>
    </div>
</nav>
<div *ngIf="(router.url != '/') && (router.url != '/page/home')" class="container">
  <div class="row">
    <div class="col-md-12">
      <a (click)="location.back()" class="goBack"><i class="fa fa-arrow-left"></i> प्रतिगच्छथ</a>
    </div>
  </div>
</div>
<div (click)="onClick()" class="scroll-top"><i title="Scroll to top" class="far fa-arrow-alt-circle-up"></i></div>
<router-outlet></router-outlet>
