<nav class="navbar navbar-light navbar-expand-lg">
    <div class="container">
        <!-- <a class="navbar-brand"><img src="assets/img/logo.png" alt="Logo of Bharatiya Vidya Bhavan" class="img-circle"></a> -->
        <span class="navbar-text">श्रीशांकरग्रन्थावलिः</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav ml-auto">
                <li class="nav-item active"><a class="nav-link" routerLink="/page/home">Home</a></li>
                <li class="nav-item"><a class="nav-link about1" routerLink="/page/about1">About</a></li>
                <li class="nav-item hide"><a class="nav-link about2" routerLink="/page/about2">About 2</a></li>
                <li class="nav-item hide"><a class="nav-link about3" routerLink="/page/about3">About 3</a></li>
                <li class="nav-item hide"><a class="nav-link about4" routerLink="/page/about4">About 4</a></li>
                <li class="nav-item hide"><a class="nav-link about5" routerLink="/page/about5">About 5</a></li>
                <li class="nav-item"><a class="nav-link volumes" routerLink="/volumes">Volumes</a></li>
                <li class="nav-item"><a class="nav-link works" routerLink="/page/works">Works</a></li>
                <li class="nav-item"><a class="nav-link search" routerLink="/search">Search</a></li>
            </ul>
        </div>
    </div>
</nav>
<div *ngIf="(router.url != '/') && (router.url != '/page/home')" class="container">
  <div class="row">
    <div class="col-md-12">
      <a (click)="location.back()" class="goBack feng"><i class="fa fa-arrow-left"></i> Back</a>
    </div>
  </div>
</div>
<div (click)="onClick()" class="scroll-top"><i title="Scroll to top" class="far fa-arrow-alt-circle-up"></i></div>
<router-outlet></router-outlet>
